/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 30000px;

}


.main{
    display: flexbox;
    flex-direction: column;
    width: auto;
    height: auto;

}
.container {
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-letras {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 10px;
    display: flexbox;
    background: #222;
    padding: 15px 0;
    color: #fff;

}

.logo-letras {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
}

.Logo-img {
    height: 80px;
    align-items: start;
}

/* Hero */
.hero {
    padding: 60px 0;
    text-align: center;
    background: #f7f7f7;
}

.hero h2 {
    font-size: 32px;
    font-style: bold;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    background: #007bff;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

/* Servicios */
.services {
    padding: 40px 0;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    margin-left: 10px;
    background: #fff;
    padding: 20px;
    border: 3px groove #49ffe7;
    border-radius: 15px;
    transition: 1s;
}
.card:hover{
    border: 3px solid;
    color: #008f8f;
    border-radius: 15px;

    scale: 1.1;
}
.card h4{
    color: black;
}

/* Portafolio */
.portfolio {
    padding: 40px 0;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.project1{
    display: flex;
    flex-direction: row;
    font: bold;

}

.project1img {
    flex-direction: row;
    display: flex;
    opacity: 50%;
    padding: 25px;
    width: 25%;
    background: #2982e895;
    border-radius: 15px;
}
.project1img:hover{
    scale: 1;
}

/* Contacto */
.contact {
    padding: 40px 0;
    background: #f7f7f7;
    text-align: center;
}

input,
textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 12px 25px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;


}

/* Footer */
.footer {
    position: sticky;
    text-align: center;
    padding: 20px 0;
    background: #222;
    color: #fff;
    margin-top: 3000px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}